
.app {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50%;
  }
  
  .app{
    padding: 6px;
    border-radius: 5px;
    background: #f9f9b1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 50%;
  }
  